In [25]:
import pandas as pd
from sklearn.utils import resample

In [4]:
df = pd.read_csv("./archive(3)/text.csv")
df = df.rename(columns={"label":"category"})
df = df.drop("Unnamed: 0", axis="columns")

In [5]:
df.head()

                                                text  category
0      i just feel really helpless and heavy hearted         4
1  ive enjoyed being able to slouch about relax a...         0
2  i gave up my internship with the dmrg and am f...         4
3                         i dont know i feel so lost         0
4  i am a kindergarten teacher and i am thoroughl...         4

In [15]:
criterium = df.category.value_counts()

In [18]:
print(criterium)

1    141067
0    121187
3     57317
4     47712
2     34554
5     14972
Name: category, dtype: int64

In [16]:
count_5 = criterium[5]

In [26]:
df_1 = df[df.category == 1]
df_0 = df[df.category == 0]
df_2 = df[df.category == 2]
df_3 = df[df.category == 3]
df_4 = df[df.category == 4]
df_5 = df[df.category == 5]

In [27]:
df_0_undersampled = resample(df_0, replace=False, n_samples=14972, random_state=42)
df_1_undersampled = resample(df_1, replace=False, n_samples=14972, random_state=42)
df_2_undersampled = resample(df_2, replace=False, n_samples=14972, random_state=42)
df_3_undersampled = resample(df_3, replace=False, n_samples=14972, random_state=42)
df_4_undersampled = resample(df_4, replace=False, n_samples=14972, random_state=42)
df_5_undersampled = resample(df_5, replace=False, n_samples=14972, random_state=42)

In [32]:
df_balanced = pd.concat([df_1_undersampled, df_0_undersampled, df_2_undersampled, df_3_undersampled, df_4_undersampled, df_5_undersampled])

In [33]:
df_balanced = df_balanced.sample(frac=1, random_state=42).reset_index(drop=True)

In [34]:
print(df_balanced['category'].value_counts())

5    14972
0    14972
3    14972
4    14972
1    14972
2    14972
Name: category, dtype: int64

In [36]:
df_balanced.to_csv('balanced.csv', index=False)